<script src="/end.js" charset="utf-8" defer></script>
<div id="modal">
    <div class="modal-dialog">

    <div class="modal-header">
        <h3 id="header">Congrats! You have found Benny!<br> Your score is {{minutes}} minutes and {{seconds}} seconds.</h3>
    </div>

    <div class="modal-body">

        <div class="input-element">
        <label for="nickname-input">Your nickname</label>
        <input type="text" id="nickname-input"></input>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="submit" class="action-button">Submit</button>
    </div>

    </div>
</div>