
body {
    position: absolute;
    margin: 0%;
    height: 99%;
    width: 99%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 100%;     
    width: 100%;
    /*
    Source: https://picryl.com/media/beaver-near-swan-lake-166a55
    Copyright: Public Domain Dedication
    */
    background-size: 100%;
    position: absolute;
}

#beaver {
    z-index: 1000;
    position: absolute;
    height: 25%;
    width: 20%;
    top: 38%;
    left: 55%;
}

#beaver:hover {
    cursor: pointer;
}