
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>Find Benny</title>
	<link rel="stylesheet" href="/css/end.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="index.js" charset="utf-8" defer></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
	<div id="bg"></div>
	<div id="backdrop" class="hidden"></div>
	{{{body}}}
</body>